body {
    font-family: Arial, sans-serif;
    position: relative; /* Position relative for body */
}

.content {
    margin: 70px auto;
    width: 400px; /* Set the width of the rectangle */
    height: 350px; /* Adjust height to fit content */
    padding: 5px;
    border: 2px solid #000; /* Add border style */
    border-radius: 5px;
    background-color: #fff;
    overflow: auto; /* Add overflow to handle content overflow */
    text-align: center; /* Center-align content */
}

.middle {
    padding: 45px;
}

.logo-container {
    margin-top: 5px; /* Adjust as needed */
}
